<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<form [formGroup]="formNota" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Nota <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required formControlName="valor" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Professor <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required formControlName="professor" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Observações </ion-label>
    <ion-input formControlName="observacao" type="text"></ion-input>
  </ion-item>

  <!-- SELETOR DA DISCIPLINA DA NOTA E TODA NOTA É DE UMA DISCIPLINA-->
  <ion-item>
    <ion-label>Disciplina</ion-label>

    <!-- <ion-select placeholder="Selecione uma">
      <ion-select-option *ngFor="let disciplinasSel of disciplinas | async">{{disciplinasSel.nome}}
      </ion-select-option>
    </ion-select> -->
    <ion-select placeholder="Selecione uma" (ionChange)="selecionaValor($event)">
      <ion-select-option *ngFor="let disciplina of disciplinas | async" [value]="disciplina">
        {{disciplina.nome}}
      </ion-select-option>
    </ion-select>

  </ion-item>

  <ion-button block expand="block" color="primary" type="submit" [disabled]="formNota.invalid">
    Salvar
  </ion-button>
  <ion-button (click)="retornarMenu()" expand="block" color="medium">
    Retornar ao Menu de Notas
  </ion-button>
</form>
<ion-content>

</ion-content>